/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    font-family: helvetica;
}

h1 {
    font-size: 3.6rem;
}

li, button, label, input, p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

/* Nav Section */
.main-header {
    background: #009dc4;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 2rem;
    min-height: 10vh;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav a {
    color: white;
}

#logo {
    flex: 2 1 40rem;
}

/* Main Section */

main {
    
}