<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ioTBay.controller.UserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ioTBay.controller.LoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>ioTBay.controller.RegisterServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>   
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ioTBay.controller.LogoutServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccessHistoryServlet</servlet-name>
        <servlet-class>ioTBay.controller.AccessHistoryServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessHistoryServlet</servlet-name>
        <url-pattern>/AccessHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>ioTBay.controller.UpdateUserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAccessHistoryServlet</servlet-name>
        <servlet-class>ioTBay.controller.ShowAccessHistoryServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAccessHistoryServlet</servlet-name>
        <url-pattern>/ShowAccessHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchAccessHistoryServlet</servlet-name>
        <servlet-class>ioTBay.controller.SearchAccessHistoryServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAccessHistoryServlet</servlet-name>
        <url-pattern>/SearchAccessHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>ioTBay.controller.DeleteUserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>ioTBay.controller.OrderServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>ioTBay.controller.AddOrderServlet</url-pattern>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>ioTBay.controller.EditOrderServlet</url-pattern>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/EditOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>ioTBay.controller.DeleteOrderServlet</url-pattern>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindOrderServlet</servlet-name>
        <url-pattern>ioTBay.controller.FindOrderServlet</url-pattern>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindOrderServlet</servlet-name>
        <url-pattern>/FindOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>ioTBay.controller.UpdateOrderServlet</url-pattern>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddShippingServlet</servlet-name>
        <servlet-class>ioTBay.controller.AddShippingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddShippingServlet</servlet-name>
        <url-pattern>/AddShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteShippingServlet</servlet-name>
        <servlet-class>ioTBay.controller.DeleteShippingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteShippingServlet</servlet-name>
        <url-pattern>/DeleteShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditShippingServlet</servlet-name>
        <servlet-class>ioTBay.controller.EditShippingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditShippingServlet</servlet-name>
        <url-pattern>/EditShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchShippingServlet</servlet-name>
        <servlet-class>ioTBay.controller.SearchShippingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchShippingServlet</servlet-name>
        <url-pattern>/SearchShippingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>ioTBay.controller.AddUserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserAdminServlet</servlet-name>
        <servlet-class>ioTBay.controller.DeleteUserAdminServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserAdminServlet</servlet-name>
        <url-pattern>/DeleteUserAdminServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>ioTBay.controller.SearchUserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/SearchUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowUserListServlet</servlet-name>
        <servlet-class>ioTBay.controller.ShowUserListServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowUserListServlet</servlet-name>
        <url-pattern>/ShowUserListServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
        30
        </session-timeout>
    </session-config>
</web-app>